// $primary: #22b173;
$primary: #bf00ff;
$darkPrimary: #7f00ff;
$hover: #ccc;
$secondary: #ffaa81;
$gray: #ccc;
$white: #ffffff;
$warning: #FCCD04;
$danger: #dc3545;

//btn
$btnPrimary: #bf00ff;
$btnDarkPrimary: #7f00ff;