// $primary: #22b173;
$primary: #4d529f;
$darkPrimary: #33a2d0;
$hover: #ccc;
$secondary: #ec3563;
$gray: #ccc;
$white: #ffffff;
$warning: #f4c236;
$danger: #ec3563;

//btn
$btnPrimary: #33a2d0;
$btnDarkPrimary: #4d529f;